<title>이윤석의 web</title>
<meta charset="utf-8">
<meta name="keyword" content="이윤석,코딩,html,web,웹">
<meta name="description" content="html 연습한 page"> 
<meta http-equiv="refresh" content="30">
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="/stylesheet/stylesheet.css">
        