<!doctype html>
<html>
    <head>
        <title>이윤석의 web</title>
        <meta charset="utf-8">
        <meta name="keyword" content="이윤석,코딩,html,web,웹">
        <meta name="description" content="html 연습한 page"> 
        <meta http-equiv="refresh" content="30">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheet/stylesheet.css">
        </head>
    
    <body>
        <div class="container">
            <header>
                <img src="/images/리신.jpg">
                <h1>dmzld</h1>
            </header>
            <main>
                <section>
                    <h2 style="text-align: center">안녕하세요</h2>
                    <p style="text-align: center">웹을 공부하면서 가시적인 결과를 남기고자 만든 웹사이트입니다.</p>
                    <p style="text-align: center">앞으로의 다양한 공부의 내용들이 기록될 공간이기도 합니다.</p>
                </section>
                
            </main>
            <footer>
                <a href="https://github.com/dmzld">GitHub - dmzld</a>
            </footer>
        </div>
        </div>
    
        
        
    </body>    
</html>