<!DOCTYPE html>
<html>
  <body>
    <div>
      <div>
        <a href="/">Back</a>
      <div>
      <h2>Show</h2>
      <h3><%= board.title%></h3>
      <div>
        <label>date</label><span><%= board.date %></span>
      </div>
      <div>
        <label>contents</label><span><%= board.contents %></span>
      </div>
    </div>
  </body>
</html>