<!doctype html>
<html>
    <head>
        <title>이윤석의 web</title>
        <meta charset="utf-8">
        <meta name="keyword" content="이윤석,코딩,html,web,웹">
        <meta name="description" content="html 연습한 page"> 
        <meta http-equiv="refresh" content="30">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheet/stylesheet.css">
        </head>
    
    <body>
        <div class="container">
            <header>
                <% include ../partials/nav %>
            </header>
            <main>
                <h2>About</h2>
                <section style="text-align: center">
                    이윤석의 페이지입니다<br><br>
                </section>
            </main>
            <footer>
                <a href="https://github.com/dmzld">GitHub - dmzld</a>
            </footer>
        </div>
        </div>
    
        
        
    </body>    
</html>