<!DOCTYPE html>
<html>
    <head>
        <title>이윤석의 web</title>
        <meta charset="utf-8">
        <meta name="keyword" content="이윤석,코딩,html,web,웹">
        <meta name="description" content="html 연습한 page"> 
        <meta http-equiv="refresh" content="30">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/stylesheet/stylesheet.css">
    </head>
    <body>
        <div class="container">
          <nav>
              <% include ../partials/nav %>
          </nav>

          <header>
            <h2>New</h2>
          </header>
          
          <main>
              <form action="/board" method="post"  style="align-content: center" autocomplete=off>
                
                <div>
                  <input type="text" id="title" name="title" placeholder="제목을 입력해주세요">

                  <input type="text" id="date" name="date" value="<%= new Date().toLocaleString() %>" readonly>
                </div>
                <div>
                  <input type="text" id="writer_id" name ="writer_id" placeholder="닉네임"> 

                  <input type="password" id="password" name ="password" placeholder="패스워드"> 
                </div>
                <div>
                  <textarea type="text" id="contents" name="contents" value="" placeholder="내용을 입력해주세요" style="width: 100%; height: 250px"></textarea>
                </div>

                <bottom>
                    <div style="float:right">
                        <button id="textButton" type="submit">Submit</button>
                        <a href="/board">Back</a>
                    </div>
                </bottom>
                
              </form>

          </main>
        </div>
    </body>
</html>
